<p>
  <mat-toolbar color="primary">
    <span>My Application</span>
    <button id="home" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon  routerLink="">home</mat-icon>
    </button>
    <span id="iconEnd"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon routerLink="profilo">person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon routerLink="signup">logout</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>

